@charset "UTF-8";
body{
  background: rgb(191,190,216);
  background: linear-gradient(180deg, rgba(191,190,216,1) 0%, rgba(238,196,187,1) 100%);
  font-family: 'Gothic A1', sans-serif;
}
ul,ol{ list-style: none; }
#wrap{
  width: 1320px;
  margin: 0 auto;
  background: #f1f1f1;
}

/*상단 고정형 메뉴*/
#header{
  position: fixed;
  width: 1320px;
  margin: 0 auto;
  top: 0;
  overflow: hidden;
  padding: 45px 0px 0;
}
#header .inner{ float: right; }

#logo{
  position: relative;
  float: left;
  margin-left: 0px;
  top: -70px;
}
#header .inner #gnb{
  float:right;
  display: inline-block;
}
#language li{
  float: right;
  height: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
}

#language li:first-child{
  margin-right: 0;
}

#language li a{
  line-height: 20px;
}

#gnb{
  position: relative;
  overflow: hidden;
  margin-top: -30px;
}

#gnb li{
  float: left;
  height: 20px;
  margin-right:100px;
}

#mainbanner{
  width: 1320px;
  padding-left:380px;
  margin-top:120px;
}

#section1 {
  padding-left: 352px;
  margin-top: 150px;
}
#section1 ul li:nth-child(1){
  position: relative;
  width:613px;
  height:421px;
  background-image: url('../img/section1_2.png');
}

#section1 ul li:nth-child(1) img{
  position: absolute;
  top:-60px;
  left:-60px;
  width:613px;
  height:420px;
}

#first{
  position: relative;
  float:right;
  display: inline-block;
  text-align: center;
  padding-right:350px;
  margin-top: -350px;
}

#first h1{
  font-size: 48px;
  color: #3f3b90;
}
#first h2{
  padding: 20px;
  color: #3f3b90;
}

a.common_btn{
  display: inline-block;
  width: 205px;
  height: 65px;
  line-height: 60px;
  border-radius: 50px;
  background: #3f3b90;
  color: white;
  font-size: 18px;
  margin-top: 40px;
}
a.common_btn:hover{
  background-color: #ea4e1d;
}
#second{
  width:1320px;
  margin: 0 auto;
}
#second h1{
  margin-top: 205px;
  text-align: center;
  font-size: 36px;
  color:#3f3b90;
}

#second ul li {
  display: inline-block;
  margin-top: 115px;
  padding-left: 20px;

}
#third{
  width:1320px;
  margin: 0 auto;
}
#third h1{
  margin-top: 200px;
  text-align: center;
  font-size: 36px;
  color:#3f3b90;
  margin-bottom: 115px;
}



#fourth{
  width:1320px;
  margin: 0 auto;
}
#fourth h1{
  margin-top: 200px;
  text-align: center;
  font-size: 36px;
  color:#3f3b90;
}
/*#fourth ul li{
  display: inline-block;
  margin-top: 115px;
  padding-left: 21px;
}

#fourth > .inner > a{
  margin-top: 40px;
  text-align: center;
  margin-left: 200px;
}*/
#fourth{
  overflow: hidden;
}
#fourth .items{
  margin-top: 150px;
  overflow: hidden;
}
#fourth .items .list{
  display: inline-block;
  text-align: center;
  width:33.333%;
  float:left;
}
#fourth .items .list img{
  width:400px;
}
#fourth .items .list .common_btn{
  display: inline-block;

}
#fourth .items .list .common_btn:hover{
  background-color: #ea4e1d;
}



#fifth{
  width:1320px;
  margin: 0 auto;
  color:#3f3b90;
}

#fifth h1{
  margin-top: 200px;
  text-align: center;
  font-size: 36px;
}
#fifth .inner #news1{
  overflow:hidden;
  font-size: 20px;
  text-align: center;
  margin-top:100px;
}

#fifth .inner #news1{
  border-top: 1px solid #3f3b90;
/*  border-bottom: 1px solid #3f3b90;*/
}
#fifth .inner #news2{
  border-top: 1px solid #3f3b90;
  border-bottom: 1px solid #3f3b90;
}
#news1 li{
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#news1 li:first-child{
  margin-right: 0;
  padding-left: 70px;
  padding-right: 180px;
}
#news1 li:nth-child(2){
  padding-right: 180px;
}
/*----------*/
#fifth .inner #news2{
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

#news2 li{
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  text-align: center;
}

#news2 li:first-child{
  margin-top:px;
  margin-right: 0;
  padding-left: 70px;
  padding-right: 180px;
}
#news2 li:nth-child(2){
  padding-right: 180px;
}
/*----------------------------*/





}
/*#fifth .inner ul li:nth-child(2){
  border-top: solid 1px #3f3b90;
  border-bottom: solid 1px #3f3b90;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}*/

/*#fifth .inner #news{
  overflow:hidden;
  display: inline-block;
  padding-top: 20px
}

#fifth .inner #news li:nth-child(1){
  float: left;
}
#fifth .inner #news li:nth-child(2){
  float:none;
}

#fifth .inner #news li:nth-child(3){
  float:right;
}*/


#sixth{
  width:1320px;
  margin: 0 auto;
}

#sixth img{
    margin-top: 200px;
  margin-left: 292px;
}

footer .box{
  margin: 0 auto;
  color:#3f3b90;
  font-size: 18px;
  width: 1320px;
  height:400px;
  background: #ea4e1d;
  margin-top:-100px;
}
footer p{
  text-align: center;
  margin-top: -125px;
}
